*{
    padding: 0;
    margin: 0;
}
.d_flex{
    display: flex;
    justify-content: space-between;
}
.width{
    max-width: 1168px;
    margin: auto;
}
.menu{
    max-width: 1200px;
    margin: auto;
    padding: 0 22px 0 20px;
    box-sizing: border-box;
}
header{
    padding: 22px 0;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #1B1A1A;
}
header nav ul li:last-of-type a{
    padding: 11px 20px;
    background: #1B1A1A;
    border-radius: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #FFFFFF;
}
.container{
    padding: 137px 0 128px;
    background-color: #ECE7E4;
    position: relative;
}
.arhitecture{
    max-width: 1240px;
    margin: auto;
}
.container h3{
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
section div h1{
    margin-bottom: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}
.container p{
    max-width: 509px;
    margin-bottom: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}
.container a{
    text-decoration: none;
    margin-left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}
.foto{
    position: absolute;
    right: 0;
    top:0;
    width: 50%;
    height: 100%;
    background-image: url('../img/IMAGE.jpg');
    background-size: cover;
}
.our_firm{
    max-width: 768px;
    margin: 100px auto 100px auto;
    display: flex;
    justify-content: space-between;
}
.our_firm h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
    margin-right: 133px;
}
.our_firm p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    max-width: 493px;
    margin-bottom: 10px;
}
.our_firm p:last-of-type{
    margin-bottom: 18px;
}

.reeding_house{
    min-height: 600px;
    background-image: url("../img/house.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}
.description{
    max-width: 285px;
}
.reeding_house .description h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.reeding_house .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}
.size{
    padding: 100px 0;
}
.size_section{
    max-width: 1168px;
    margin: auto;
    text-align: center;
}
.size_section h3{
    margin-bottom: 13px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.size_section h2{
    margin-bottom: 47px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
}
.size_section article{
    max-width: 294px;
}
.size_section article img{
    max-width: 117px;
    display: inline-block;
}
.owl-carousel .owl-item img{
    display: inline-block;
}
.owl-carousel.owl-drag .owl-item{
    display: flex;
    justify-content: center;
}
.size_section p{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
}
.text_style{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55; margin: 15px auto 10px auto;
}
.marble_staircase{
    min-height: 600px;
    background-image: url("../img/marble.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}
.marble_staircase  h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.marble_staircase p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}
.svirling_staircase{
    min-height: 600px;
    background-image: url("../img/Swiming.jpg");
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 60px;
}
.svirling_staircase h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.svirling_staircase p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}
.backround{
      background-color: #CEC4BC;
}
.item_style{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #645C55;
}
.style_list{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 42px;
      color: #1B1A1A;
      max-width: 569px;
}
.link{
    margin: 45px 20px 45px 0;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

.color{
    background: #403E3B;
}
.prior{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
}
.d_block {
    max-width: 432px;
    height: 290px;
    margin: auto auto 60px auto;
}
.d_block a{
    text-decoration: none;
}
.d_block a:nth-child(3) img{
    margin: 128px 96px auto auto;
}
.d_block a:nth-child(2) img{
    margin: 40px auto auto 96px;
}
section div h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
.color p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
    max-width: 451px;
}
.team{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}
.text_ident{
    margin:29px auto 29px 30px;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;

}
.section_size a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    margin-left: 25px;
}
.indent{
    margin: 14px 37px 41px auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
}
.project{
    padding: 113px 0 111px;
    background-color: #F7F7F7;
}
.project_container{
    max-width: 1168px;
    margin: auto;
}
.project h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 15px;
}
.project p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
    margin-bottom: 44px;
}
.project article{
    max-width: 375px;
    position: relative;
    text-align: left;
    overflow: hidden;
    transition: 0.5s;
}
.project article:hover .describe{
    top: 0;
}
.project article img{
    width: 100%;
}
.project .describe{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    top: -100%;
    transition: 1s;
}
.project .describe h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
    width: 100%;
}
.project .describe h4 span{
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.project .describe a{
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
}
.section_size{
    max-width: 358px;
    margin-top: 96px;
    min-height: 392px;
}
.article_ident{
    text-align: center;
    margin: auto 144px 52px auto;
}
.div_ident{
    margin-top: 108px;
}
.height{
    min-height: 410px;
    margin: auto;
}
.text-item{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
    text-align: left;
    display: block;
}
.div_item{
    margin: 135px auto 60px auto;
    text-align: left;
}
footer{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    margin: auto;
    align-items: center;
}
footer div a img{
    margin-bottom: 20px;
}
footer ul{
    display: flex;
    margin: 60px 0 0 20px;
}
footer ul li{
    list-style: none;
    display: flex;
    justify-content: end;
}
footer ul li a {
    margin: 60px 0 0 20px;
}
footer p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}
.size .owl-carousel .owl-nav .owl-prev{
    width: 20px;
    height: 20px;
}
.size .owl-carousel .owl-nav .owl-next{
    width: 20px;
    height: 20px;
}
.owl-nav{
    position: absolute;
    width: 100%;
    top: 35%;
    display: flex;
    justify-content: space-between;
}
